@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
 .outer{
	 width:900px;
	 height:344px;
	 margin:50px auto;
	 background: url(../%E5%9B%BE%E7%89%87/%E5%92%96%E5%95%A11.png) repeat-x;
	 }
.inner{
	width:900px;
	height:344px;
	background: url(../%E5%9B%BE%E7%89%87/%E5%92%96%E5%95%A12.png) no-repeat center 30px;
	}